.ccls-cache/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_deps/
cmake_install.cmake
debug/
example/CMakeFiles/
example/Makefile
example/cmake_install.cmake
example/hnsw_example
instructions_test_avx.cpp
instructions_test_avx2.cpp
instructions_test_avx512.cpp
instructions_test_sse.cpp
libob_vsag.so
libob_vsag_static.a